{% extends "layouts/layout_1.html" %}

{% block title %}Room Location{% endblock %}

{% block page_javascript %}
<script type="module" src="{{ url_for("static", filename="scripts/management/management_item.js")}}"></script>
{% endblock %}

<!-- -->
{% block content_main %}
<form id="formsItem">
    {{ formsRoom.hidden_tag() }}

    <h1>
        <b>id</b>:
        {{ roomJson["id"] }}
    </h1>

    {{ formsRoom.roomLocation_tag.label }}
    {{ formsRoom.roomLocation_tag }}

    {{ formsRoom.roomLocation_tagPrefix.label }}
    {{ formsRoom.roomLocation_tagPrefix }}

    {{ formsRoom.roomLocation_tagSuffix.label }}
    {{ formsRoom.roomLocation_tagSuffix }}

    <input type="submit">Submit</input>
</form>
{% endblock %}
