*
!*/

!.gitignore
!README.md

!docker-compose.yaml
!dockerfile
!.dockerignore

!requirements.txt

!*.java

## Flask archictecture
!/**/app/**/*.py

!/**/app/database/casts/**/*.sql
!/**/app/database/casts/**/*.brM3
!/**/app/templates/**/*.html

!/**/app/static/assets/
!/**/app/static/fonts/**/*.ttf
!/**/app/static/style/**/*.css
!/**/app/static/scripts/**/*.js

## Ignore all venvs
/**/.venv/
/**/__pycache__/

## SPOWEB
!/3_year/SPOWEB/**/*.html
!/3_year/SPOWEB/**/*.css
!/3_year/SPOWEB/**/*.js
