*
!*/

!.gitignore

!docker-compose.yaml
!dockerfile
!.dockerignore

!requirements.txt

## Flask archictecture
!/**/app/**/*.py

!/**/app/database/casts/**/*.sql
!/**/app/templates/**/*.html

!/**/app/static/assets/
!/**/app/static/fonts/**/*.ttf
!/**/app/static/style/**/*.css
!/**/app/static/scripts/**/*.js

## Ignore all venvs
/**/.venv/
/**/__pycache__/
