*
!*/

!*.c
!*.cpp

!*.py
!*.js
!*.css
!*.html
!requirements.txt

# Fresco
!/2_year/Freco/database/users/*.txt
!/2_year/Freco/database/notices/*.txt

# Tiny games
!/2_year/tiny_games/games/dynamic_quiz/musics/**/*.mp3
!/2_year/tiny_games/games/dynamic_quiz/musics/**/infos.txt
