{% extends "default_page.html" %}
{% block title %}Change passphrase{% endblock %}
{% block content %}
	<form method="POST" action="{{ url_for("change_pass_auth") }}">
		<label>User name</label>
		<input type="text" name="user_name" id="user_name" required>

		<label>User passphrase</label>
		<input type="text" name="user_pass" id="user_pass" required>

		<label>New user passphrase</label>
		<input type="text" name="user_pass_new" id="user_pass_new" required>

		<button type="submit">Change</button>
	</form>
{% endblock %}
