<!DOCTYPE html>
<html>
<head>
    <title>Index</title>

    {% block system_javascript %}{% endblock %}
    {% block system_style %}{% endblock %}

    {% block page_javascript %}{% endblock %}
    {% block page_style %} {% endblock %}
</head>

<body>
    <div id="message_logs"></div>
    <header>
        <div class="client_reception">
            {% if session.get("token_auth") %}
            <h2>Hello {{ load_cookie("user_name") }}</h2>
            {% else %}
            <h2> Hello Guested! </h2>
            {% endif %}
        </div>

        <div class="client_options">
            <div class="client_auth">
                {% if session.get("token_auth") %}
                <a href="{{ url_for("logout_auth") }}">
                    <h2>Logout</h2>
                </a>
                {% else %}
                <a href="{{ url_for("login_display") }}">
                    <h2>Login</h2>
                </a>

                <a href="{{ url_for("sign_display") }}">
                    <h2>Sign</h2>
                </a>
                {% endif %}
            </div>

            {% if session.get("token_auth") %}
            <div class="client_menu">
                <img src="{{ url_for("static", filename="assets/icons/menu/menu.png") }}" width="250px">

                <ul class="cleint_menu_options">
                    <li>
                        <a href="{{ url_for("management_display") }}">
                            <h2>
                                Management
                            </h2>
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in message %}

    {% if category == "Cookie_session_deleted" %}
    <div class="message_session_expired">
        <h2>Look that you session expired...</h2>
        <p>
            Liked to login again?
            <a href="{{ url_for("login_display") }}">Click Here!</a>
        </p>

        <p>
            Back to home page
            <a href="{{ url_for("index") }}">Home Page</a>
        </p>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}

    <main>
        {% block content_main %}{% endblock %}
    </main>
</body>
</html>
