{% extends "layouts/layout_2.html" %}

{% block page_javascript %}
<script src="{{ url_for("static", filename="scripts/login.js") }}" type="module"></script>
{% endblock %}

<!-- -->
{% block content_main_1 %}
<form id="login_form_user">
    {% for field in form_login %}
        {{ field.label }}
        {{ field }}
    {% endfor %}
</form>
{% endblock %}

{% block content_main_2 %}
<form id="login_form_captcha">
    <div class="captchaIMG">
        <img id="login_form_captcha_img">
        {% for field in form_captcha %}
        {{ field.label }}
        {{ field }}
        {% endfor %}
    </div>

    <button id="login_form_button_submit">Submit!</button>
</form>
{% endblock %}
