{% extends "layouts/layout_2.html" %}

{% block page_javascript %}
<script src="{{ url_for("static", filename="scripts/sign.js") }}" type="module"></script>
{% endblock %}

<!-- -->
{% block content_main_1 %}
<form id="sign_form_user">
    <label>User Name</label>
    <input autocomplete="off" type="text" name="user_name">

    <label>User password</label>
    <input autocomplete="off" type="text" name="user_password">

    <label>User password check</label>
    <input autocomplete="off" type="text" name="user password_checl">
</form>
{% endblock %}

{% block content_main_2 %}
<form id="sign_form_captcha">
    <div class="captcha">
        <label>Captcha</label>
        <img id="sign_form_captcha_IMG">

        <input autocomplete="off" type="text" name="catpcha">

        <button id="sign_form_catpcha_IMG_button_generate">Generate</button>
    </div>

    <button id="sign_form_button_submit">Submit!</button>
</form>
{% endblock %}
