<!DOCTYPE html>
{% extends "default_page.html" %}
{% block title %}Index{% endblock %}
{% block content %}
	<form method='GET' action="index_search">
		<label>Pattern</label>
		<input type="text" name="pattern" id="pattern">
		<!---->
		<button type="submit">search</button>
	</form>
	{% for i in g.notices %}
		<div>
			<div> <!-- Header journal -->
				<h1>{{ i.get_attr("title")[0] }}</h1>

				{% if i.get_attr("subtitle") %}
					<h2>{{ i.get_attr("subtitle")[0] }}</h2>
				{% endif %}
				{% if i.get_attr("data") %}
					<h3>{{ i.get_attr("data")[0] }}</h3>
				{% endif %}

				<h3>{{ i.get_attr("type")[0] }}</h3>
			</div>
			<div> <!-- Notice content -->
				{% if i.get_attr("content") %}
					{% for j in i.get_attr("content") %}
						{{ j | safe }}
					{% endfor %}
				{% else %}
					<p>This notice is empty</p>
				{% endif %}
			</div>

		</div>
	{% endfor %}
{% endblock %}
