<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		<title> {% block title %}ABCD{% endblock %}</title>
	</head>
	<body>
        {% if user %}
            <header>
                <div>
                    <p>Hello {{ user.get_attr("name")[0] }}!</p>
					<a href="{{ url_for("logout") }}">log out</a>
                </div>
            </header>
        {% else %}
            <header>
                <div>
                    <a href="{{ url_for("login_display") }}">login</a>
                    <a href="{{ url_for("sign_display") }}">sign</a>
                </div>
            </header>
        {% endif %}
		<main>
			<section>
				{% block content %}{% endblock %}
			</section>
			{% if message %}
				<div>
					<p>{{ message }}</p>
				</div>
			{% endif %}
		</main>
	</body>
</html>
