{% extends "layouts/layout_1.html" %}

{% block page_style %}
<link rel="stylesheet" href="{{ url_for("static", filename="/style/managementRooms.css") }}">
{% endblock %}

{% block page_javascript %}
<script type="module" src="{{ url_for("static", filename="/scripts/managementRooms.js") }}" defer></script>
{% endblock %}

{% block content_main %}
<div class="topics_able">
    <ul>
        {% for topic in topics_able %}
        <li>
            <a href="{{ url_for("management_roomTopic_display", topic=topic) }}">
                {{ topic }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="management">
    <h2>{{ topic }}</h2>
    {% for item in items %}
    <a href="{{ url_for("management_itemTopic_tag_display", topic=topic, item_tag=item.tag) }} ">
        <ul class="management_node" id="management_node_{{ item.tag }}">
            {% for attr_name, attr_value in item.items() %}
            <li>
                <p><b>{{ attr_name }}:</b> {{ attr_value }}</p>
            </li>
            {% endfor %}
        </ul>
    </a>
    <hr>
    {% endfor %}
</div>
{% endblock %}
