{% extends "layouts/layout_2.html" %}

{% block page_javascript %}
<script src="{{ url_for("static", filename="scripts/sign.js") }}" type="module"></script>
{% endblock %}

<!-- -->
{% block content_main_1 %}
<form id="sign_form_user">
    {{ form_sign.hidden_tag() }}

    {{ form_sign.userName.label }}
    {{ form_sign.userName }}

    {{ form_sign.userEmail.label }}
    {{ form_sign.userEmail }}

    {{ form_sign.userPassword.label }}
    {{ form_sign.userPassword }}

    {{ form_sign.userPasswordCheck.label }}
    {{ form_sign.userPasswordCheck }}
</form>
{% endblock %}

{% block content_main_2 %}
<form id="sign_form_captcha">
    <div class="captcha">
        <img id="sign_form_captcha_image">

        {{ form_sign.captchaToken.label }}
        {{ form_sign.captchaToken }}

        <button id="sign_form_captcha_button_generate">Generate</button>
    </div>

    <button id="sign_form_button_submit">Submit!</button>
</form>
{% endblock %}
